
<div id="post-wrapper">

    <h2>Check Out Who's Blogging!</h2>

        
        <% @all_users.each do |thing| %>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                    
                    <a href="/users/<%= thing.id %>">
                        <%= thing.username %>
                    </a>
            
                    </h4>
                    
                </div>
                
            </div>
        <% end %>
</div>