<form method="POST" action="/posts/<%= @post_to_edit.id %>/edit">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
        <input type="text" class="form-control" name="title" value="<%= @post_to_edit.title %>">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="content"><%= @post_to_edit.content %></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<form action="/posts/<%= @post_to_delte.id %>/edit" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
