<h1>Please Sign Up</h1>

<form action="/sign-up" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="first-name" id="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="last-name" id="last_name" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="date" class="form-control" name="birthday" id="birthday">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>