
<div id="main">
    <a class="navbar-brand" href="/">
    <img src="/images/kicklr_k.png" width="30" height="30" class="d-inline-block align-top" alt="">
   Kicklr
    </a>
</div>


<div class="in-up">
    <div class="wrapper">
        <h1>Please Sign In</h1>

        <form action="/sign-in" method="post">
            <div class="form-group">
                <input type="text" sclass="form-control" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    <div>
</div>